{% extends 'base.html.twig' %}

{% block body %}
    <div class="container ">

        <h2 class="mt-5">Atsiprašome, puslapis kuriamas.</h2>
        <div>
            <a href="{{ path('feedback') }}"><button class="btn btn-primary">Susisiekite su mumis</button></a>
        </div>

    </div>
{% endblock %}


